<h2 class="h2 text-center">Public recipes</h2>

<% @pub_recipes.each do |recipe| %>
<div class="container d-flex justify-content-center bg-light p-2">
  <div class='element'>
    <div class='element_left_recipes'>
      <h3 class="h3"><%= link_to recipe.name.capitalize, recipe, class:"link-secondary" %></h3> 
      <p><%= "By: #{recipe.user.name}"%></p>
    </div>
    <div class='element_right'>
      <p><%= "Total food items: #{recipe.foods.length}" %></p>
      <p><%= "Total price: #{recipe.foods.map(&:price).sum}" %></p>
    </div>
  </div>
</div>
<% end %>