<h2>Public recipes</h2>

<% @pub_recipes.each do |recipe| %>
<div class='element'>
  <div class='element_left_recipes'>
    <h3><%= link_to recipe.name.capitalize, recipe %></h3> 
    <p><%= "By: #{recipe.user.name}" %></p>
  </div>
  <div class='element_right'>
<p><%= "Total food items: #{recipe.foods.length}" %></p>
    <p><%= "Total price: #{recipe.foods.map(&:price).sum}" %></p>
  </div>
</div>
<% end %>