    <section class="users_list">
    <h1>Recipes List</h1>

    <div>
    <%= link_to "Create a Recipe", new_recipe_path %> 
    </div

    <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "#{type} alert" %>
        <% end %>
        <% @recipes.each do |recipe| %>
          <div>
            <%= render partial: "recipes/recipe", collection: @recipes %> 
            
          </div>
     <% end %>
     </section>